/* General Style*/
html {
    font-family: 'sans serif';
    font-size: 16px;
    background-color: #FFFF0F;
  }
  /* Card */
  .card {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    background-color: red;
    border: 5px solid #33F244;
    border-radius: 15px;
  }
  .card img {
    float: right;
  }
  .card header h2 {
    text-align: center;
  }
  .card header {
    background-color: orange;
  }
  .card footer {
    background-color: coral;
  }
  .card article {
    height: 200px;
  }
  
  .card article p {
    padding: 15px;
    color: white;
  }
  
  .card footer p {
    text-align: center;
    margin: 2px;
  }
  
  